body{
   background-size:cover;
   background-position: center;
    width:100vw;
  height:100vh;
  overflow: hidden;
    background:linear-gradient(pink,purple);
    border: 2px solid white;
}
.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.box{
    padding-top:60px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 29px;
   width:50%;
   height:70%;
   background: linear-gradient(rgb(72, 1, 72),rgb(228, 14, 196));
    /* Box shadow properties */
  box-shadow: 10px 10px 20px rgba(65, 1, 68, 0.25); /* Horizontal offset, vertical offset, blur radius, and color */
}
span{
    border:2px solid white;
    border-radius: 29px;
  margin-top: 50px;;
}

.heading{
    padding:10px;
    font-size:3rem;
    font-weight: bolder;
    color:rgba(237, 232, 232, 0.571);
   
}

#input-box{
 flex-wrap: wrap;
padding:20px;
 width:500px; 
 border-radius: 29px;
  margin-top:80px; 
font-size: x-large;
flex-wrap: wrap;}
#btn{
    background: transparent;
    padding: 10px 20px;
    color:white;
    border-radius: 29px;
    border: 2px solid white;
    font-weight: bolder;
}
#btn:hover{
    background-color: white;
    color:black;
    cursor: pointer;
    font-size: 20px;
}
.list-container{
    display: none;
}
ul li{
    list-style:none;
    font-size: 30px;
}
ul li.checked{
    color:#dad2d2;
    text-decoration: line-through;
}
   ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color:#555;
    line-height: 40px;
    text-align: center;
   }

@media screen and (max-width:1116px){
    #input-box{
        width:80%;
    }
}
@media screen and (max-width:739px){
    #input-box{
        width:60%;
    }
    .heading{
font-size: 2rem;
    }
}
@media screen and (max-width:483px){
#input-box{
    font-size: large;
}
.heading{
    font-size: 1.5rem;
    font-weight: normal;
        }

}
@media screen and (max-width:376px){
    .heading{
        font-size: 10px;
        padding:10px;
    }
    #input-box{
        font-size: 10px;
        padding: 10px;
    }
}