.clock{
    position:absolute;
    opacity:0.9;
    margin-top:140px;
    margin-left:500px; 
    width:400px; 

}
#clockContainer{
    position:absolute;
    margin-top:140px;
    margin-left:500px; 
    opacity:0.9;
    width:400px;
    height:400px;
    
}
#hour, #minute, #second{
position:absolute;
background:black;
border-radius:10px;
transform-origin: bottom;
}
#hour{
    width:10px;
    height:80px;
    top:115px;
    left:195px;
    opacity:0.7;    
}
#minute{
    width:8px;
    height:97px;
    top:99px;
    left:197px;
    opacity:0.8;
    
}
#second{
    width:6px;
    height:105px;
    top:94px;
    left:197px;
    opacity:0.9;
   
}